In [279]:
import numpy as np
import pandas as pd
import tensorflow as tf
from urllib.request import urlopen
import certifi
import ssl
from bs4 import BeautifulSoup
import requests

from sklearn.model_selection import train_test_split
context = ssl.create_default_context(cafile=certifi.where())

In [280]:


# define urls for per game and advanced stats
#extracting data from site
def get_data(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    
 
    data = []
    if url[-13:]=="advanced.html":
        headers = [th.text.strip() for th in table.find_all('th') if th.text.strip()!=""][7:]
        for tr in table.find_all('tr')[1:]:
            if str(tr)[:16]=="<tr class=\"thead" or str(tr)[:16]=="<tr class=\"itali":
                continue
            row = np.array([td.text.strip() for td in tr.find_all('td')[6:] if "DUMMY" not in str(td)])
            data.append(row)
    else:
        headers = [th.text.strip() for th in table.find_all('th')]
        
        for tr in table.find_all('tr')[1:]:
            
            if str(tr)[:16]=="<tr class=\"thead"or str(tr)[:16]=="<tr class=\"itali" :
                
                if data[-1][4]=="TOT":
                    data[-1][4]=[td.text.strip() for td in tr.find_all('td') ][3]
                    
                continue
            
            
            row = np.append([0],np.array([td.text.strip() for td in tr.find_all('td') ]))
            
            
            data.append(row)
          
    headers=headers[:row.size]
    arr=np.array(data)
      

    return arr,headers

In [283]:
#creating data frame

per_game_url = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'
advanced_url = 'https://www.basketball-reference.com/leagues/NBA_{}_advanced.html'
def data_frame():
    for i in range(1997,2024):
        per_game_for_seas,per_game_headers=get_data(per_game_url.format(i))
        per_game_for_seas=np.insert(per_game_for_seas,3,i,axis=1)
        advanced_for_seas,adnvanced_headers=get_data(advanced_url.format(i))
        temp_full=np.concatenate((per_game_for_seas,advanced_for_seas),axis=1)
        if i==1997:
            full=temp_full
        else:
            full=np.concatenate((full,temp_full))
        print(i)
        
    whole_data=pd.DataFrame(full)
    headers=np.concatenate((per_game_headers,adnvanced_headers))
    headers=np.insert(headers, 3,"Season")
    whole_data.columns=headers
    whole_data.Rk=[i for i in range(1,len(full)+1)]
    return whole_data

In [284]:
whole_data=data_frame()


nba_abbreviations_teams = {
    'PHO': 'Phoenix Suns',
    'WSB':'Washington Wizards',
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BKN': 'Brooklyn Nets',
    'BRK':'Brooklyn Nets',
    'CHO':'Charlotte Hornets',
    'CHH': 'Charlotte Hornets',
    'NOK': 'New Orleans Pelicans',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHX': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards',
    'CHA': 'Charlotte Hornets', # Became Charlotte Hornets in 2014
    'NJN': 'New Jersey Nets',   # Moved to Brooklyn and became Brooklyn Nets in 2012
    'NOH': 'New Orleans Hornets', # Became New Orleans Pelicans in 2013
    'SEA': 'Seattle SuperSonics', # Relocated to Oklahoma City and became Oklahoma City Thunder in 2008
    'VAN': 'Memphis Grizzlies', # Relocated to Memphis and became Memphis Grizzlies in 2001
}

1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [285]:
whole_data

,Rk,Player,Pos,Season,Age,Tm,G,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Mahmoud Abdul-Rauf,PG,1997,27,SAC,75,51,28.4,5.5,...,10.8,23.2,2.0,0.7,2.7,.060,-0.8,-1.8,-2.6,-0.4
1,2,Shareef Abdur-Rahim,PF,1997,20,VAN,80,71,35.0,6.9,...,13.5,27.6,1.7,1.2,2.9,.049,0.3,-2.1,-1.8,0.2
2,3,Rafael Addison,SF,1997,32,CHH,41,3,8.7,1.2,...,11.2,20.1,0.2,0.1,0.4,.048,-2.6,-1.7,-4.4,-0.2
3,4,Cory Alexander,PG,1997,23,SAS,80,6,18.2,2.4,...,21.1,22.2,0.5,0.6,1.1,.035,0.3,-0.8,-0.6,0.5
4,5,Jerome Allen,SG,1997,24,IND,76,1,12.4,1.0,...,21.4,15.6,-0.3,0.8,0.4,.021,-2.5,-0.2,-2.6,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12841,12842,Thaddeus Young,PF,2023,34,TOR,54,9,14.7,2.0,...,16.7,13.5,0.7,1.1,1.8,.109,-1.8,1.9,0.1,0.4
12842,12843,Trae Young,PG,2023,24,ATL,73,73,34.8,8.2,...,15.2,32.6,5.3,1.4,6.7,.126,5.3,-2.0,3.3,3.4
12843,12844,Omer Yurtseven,C,2023,24,MIA,9,0,9.2,1.8,...,11.9,18.0,0.2,0.1,0.3,.159,-2.5,-1.5,-3.9,0.0
12844,12845,Cody Zeller,C,2023,30,MIA,15,2,14.5,2.5,...,15.8,18.1,0.4,0.3,0.7,.147,-2.0,-0.7,-2.8,0.0
12845,12846,Ivica Zubac,C,2023,25,LAC,76,76,28.6,4.3,...,15.9,14.8,3.8,2.9,6.7,.149,-1.1,0.2,-0.9,0.6

In [286]:
whole_data.to_csv("whole_data.csv")

numerical_data=pd.DataFrame(whole_data.values[:,6:],columns=whole_data.columns[6:])

In [287]:
p_id=pd.DataFrame(np.zeros((whole_data.shape[0],8)),columns=["Rk","Player","Age", "season","team","seed","cons_mvp","mvp_votes"])
p_id.Rk=whole_data.Rk
p_id.Age=whole_data.Age
p_id.Player=whole_data.Player
p_id.season=whole_data.Season
p_id.team=whole_data.Tm

In [288]:
def givehtml(s):
    wikiurl="https://en.wikipedia.org/wiki/{}%E2%80%93{}_NBA_season"
    if s<2009 and s>=1999:
        page=urlopen(wikiurl.format(str(s),"0"+str((s+1)%100)))
    
    else:
        page=urlopen(wikiurl.format(str(s),str((s+1)%100)))
    htmllang=page.read()
    htmlstr=htmllang.decode("utf-8")
    

    return htmlstr


    
def cut_data(htmlstr):
    
    startEastv1=htmlstr.index("<span class=\"mw-headline\" id=\"By_conference\">By conference</span>")
    startEast=htmlstr[startEastv1:].index("season")+1+startEastv1
    finishEast=htmlstr[startEast:].index("West")+startEast
    startWest=finishEast
    finishWest=htmlstr[startWest:].index("Playoffs")+startWest
    east_data=htmlstr[startEast:finishEast]
    west_data=htmlstr[startWest:finishWest]

    return east_data,west_data


def get_stands(results):
    for i in range(1996,2023):
     try:
        east_data,west_data=cut_data(givehtml(i))
        res_dictionary={}
        #east
       
        start=east_data.find("season")
        n=30
        while start >= 0 and n > 1:
            start = east_data.find("season", start+1)
            if n%2==0:
                  sign=east_data[start:].find("<")+start
                  res_dictionary[east_data[start+8:sign]]=int((32-n)/2)
            n -= 1
        
        #west
        if i>=2004:
            start=west_data.find("season")
            n=30
            while start >= 0 and n > 1:
                start = west_data.find("season", start+1)
                if n%2==0:
                  sign=west_data[start:].find("<")+start
                  res_dictionary[west_data[start+8:sign]]=int((32-n)/2)
                n-=1
        else:
            n=28
            start=west_data.find("season")
      
            while start >= 0 and n > 1:
                start = west_data.find("season", start+1)
                if n%2==0:
                  sign=west_data[start:].find("<")+start
                  res_dictionary[west_data[start+8:sign]]=int((30-n)/2)
                n-=1
        results.append(res_dictionary)        

     except: return i

In [289]:
#changing past team names
results=[] 
get_stands(results)


for i in results:
    try:
       val=i["Washington Bullets"]
       del i["Washington Bullets"]
       i["Washington Wizards"]=val
    except:
         pass
    
    try:
        val=i['Vancouver Grizzlies']
        del i['Vancouver Grizzlies']
        i['Memphis Grizzlies']=val
    except:pass
    try:
        val=i['Charlotte Bobcats']
        del i['Charlotte Bobcats']
        i['Charlotte Hornets']=val
    except:pass
    try:
        val=i['New Orleans/Oklahoma City Hornets']
        del i['New Orleans/Oklahoma City Hornets']
        i['New Orleans Pelicans']=val
    except:pass
    
   
#seeding
new_seed=np.zeros_like(p_id.seed)
for i,v in enumerate(p_id.values):
       
        
        new_seed[i]=int(results[int(v[3])-1997][nba_abbreviations_teams[v[4]]])
        

        


p_id.seed=new_seed

In [290]:
#scraping data
def get_mvp_vote_data(url,mvp_data_storage):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
 
    this_year_votes={}
    current=""
    column=0
    for td in table.find_all('td'):
        
        if column%19==0:
            current=td.text.strip()
        elif column%19==4:
            points=float(td.text.strip())
            this_year_votes[current]=points
        column+=1
    mvp_data_storage.append(this_year_votes)

mvp_votes_url="https://www.basketball-reference.com/awards/awards_{}.html"
def gather_mvp_voting():
    mvp_data_storage=[]
    for i in range(1997,2024):
        get_mvp_vote_data(mvp_votes_url.format(i),mvp_data_storage)
    return mvp_data_storage
        
mvp_voting_data=gather_mvp_voting()
print(mvp_voting_data)

[{'Karl Malone': 986.0, 'Michael Jordan': 957.0, 'Grant Hill': 376.0, 'Tim Hardaway': 238.0, 'Glen Rice': 134.0, 'Gary Payton': 105.0, 'Hakeem Olajuwon': 95.0, 'Patrick Ewing': 57.0, 'Anthony Mason': 7.0, "Shaquille O'Neal": 7.0, 'Scottie Pippen': 6.0, 'Alonzo Mourning': 5.0, 'Dikembe Mutombo': 4.0, 'Mitch Richmond': 4.0, 'John Stockton': 3.0, 'Charles Barkley': 2.0, 'Tom Gugliotta': 1.0, 'Allen Iverson': 1.0, 'Kevin Johnson': 1.0, 'Steve Smith': 1.0}, {'Michael Jordan': 1084.0, 'Karl Malone': 842.0, 'Gary Payton': 431.0, "Shaquille O'Neal": 311.0, 'Tim Duncan': 148.0, 'Tim Hardaway': 71.0, 'David Robinson': 36.0, 'Vin Baker': 24.0, 'Grant Hill': 23.0, 'Scottie Pippen': 14.0, 'Glen Rice': 7.0, 'Antoine Walker': 6.0, 'Jason Kidd': 5.0, 'John Stockton': 5.0, 'Mitch Richmond': 3.0, 'Reggie Miller': 2.0, 'Rik Smits': 2.0, 'Michael Finley': 1.0, 'Rod Strickland': 1.0}, {'Karl Malone': 827.0, 'Alonzo Mourning': 773.0, 'Tim Duncan': 740.0, 'Allen Iverson': 319.0, 'Jason Kidd': 159.0, "Shaquille O'Neal": 89.0, 'Chris Webber': 51.0, 'Grant Hill': 39.0, 'Gary Payton': 35.0, 'Kevin Garnett': 9.0, 'Shawn Kemp': 7.0, 'David Robinson': 6.0, 'Hakeem Olajuwon': 3.0, 'Arvydas Sabonis': 3.0, 'Darrell Armstrong': 2.0, 'Vince Carter': 1.0, 'Anfernee Hardaway': 1.0, 'Mark Jackson': 1.0, 'Glenn Robinson': 1.0, 'Steve Smith': 1.0, 'Rasheed Wallace': 1.0}, {"Shaquille O'Neal": 1207.0, 'Kevin Garnett': 408.0, 'Alonzo Mourning': 367.0, 'Karl Malone': 312.0, 'Tim Duncan': 248.0, 'Gary Payton': 180.0, 'Allen Iverson': 132.0, 'Grant Hill': 113.0, 'Chris Webber': 96.0, 'Vince Carter': 51.0, 'Jason Kidd': 25.0, 'Kobe Bryant': 3.0, 'Darrell Armstrong': 1.0, 'Michael Finley': 1.0, 'Reggie Miller': 1.0, 'Jalen Rose': 1.0}, {'Allen Iverson': 1121.0, 'Tim Duncan': 706.0, "Shaquille O'Neal": 578.0, 'Chris Webber': 521.0, 'Kevin Garnett': 151.0, 'Tracy McGrady': 64.0, 'Karl Malone': 21.0, 'Jason Kidd': 18.0, 'Kobe Bryant': 11.0, 'David Robinson': 8.0, 'Ray Allen': 7.0, 'Vince Carter': 7.0, 'Paul Pierce': 5.0, 'Jerry Stackhouse': 3.0, 'Michael Finley': 1.0, 'Anthony Mason': 1.0, 'John Stockton': 1.0}, {'Tim Duncan': 954.0, 'Jason Kidd': 897.0, "Shaquille O'Neal": 696.0, 'Tracy McGrady': 390.0, 'Kobe Bryant': 98.0, 'Gary Payton': 54.0, 'Chris Webber': 37.0, 'Dirk Nowitzki': 31.0, 'Allen Iverson': 29.0, 'Ben Wallace': 24.0, 'Paul Pierce': 22.0, 'Kevin Garnett': 17.0, 'Michael Jordan': 16.0, 'Steve Nash': 5.0, 'Jerry Stackhouse': 3.0, 'Mike Bibby': 1.0, 'Elton Brand': 1.0, 'Peja Stojaković': 1.0}, {'Tim Duncan': 962.0, 'Kevin Garnett': 871.0, 'Kobe Bryant': 496.0, 'Tracy McGrady': 427.0, "Shaquille O'Neal": 126.0, 'Allen Iverson': 83.0, 'Dirk Nowitzki': 43.0, 'Ben Wallace': 33.0, 'Jason Kidd': 31.0, 'Chris Webber': 19.0, 'Jamal Mashburn': 1.0, 'Steve Nash': 1.0, 'Paul Pierce': 1.0}, {'Kevin Garnett': 1219.0, 'Tim Duncan': 716.0, "Jermaine O'Neal": 523.0, 'Peja Stojaković': 281.0, 'Kobe Bryant': 212.0, "Shaquille O'Neal": 178.0, 'Ben Wallace': 24.0, 'Jason Kidd': 17.0, 'LeBron James': 11.0, 'Sam Cassell': 4.0, 'Baron Davis': 4.0, 'Dirk Nowitzki': 4.0, 'Andrei Kirilenko': 2.0, 'Carmelo Anthony': 1.0, 'Yao Ming': 1.0, 'Michael Redd': 1.0}, {'Steve Nash': 1066.0, "Shaquille O'Neal": 1032.0, 'Dirk Nowitzki': 349.0, 'Tim Duncan': 328.0, 'Allen Iverson': 240.0, 'LeBron James': 93.0, 'Tracy McGrady': 44.0, 'Dwyane Wade': 43.0, "Amar'e Stoudemire": 41.0, 'Ray Allen': 41.0, 'Kevin Garnett': 15.0, 'Gilbert Arenas': 4.0, 'Vince Carter': 3.0, 'P.J. Brown': 1.0, 'Marcus Camby': 1.0, 'Shawn Marion': 1.0}, {'Steve Nash': 924.0, 'LeBron James': 688.0, 'Dirk Nowitzki': 544.0, 'Kobe Bryant': 483.0, 'Chauncey Billups': 430.0, 'Dwyane Wade': 87.0, 'Elton Brand': 50.0, 'Tim Duncan': 33.0, 'Tony Parker': 9.0, 'Allen Iverson': 1.0, 'Shawn Marion': 1.0}, {'Dirk Nowitzki': 1138.0, 'Steve Nash': 1013.0, 'Kobe Bryant': 521.0, 'Tim Duncan': 286.0, 'LeBron James': 183.0, 'Tracy McGrady': 110.0, 'Chris Bosh': 43.0, 'Gilbert Arenas': 31.0, 'Carlos Boozer': 7.0, 'Kevin Garnett': 7.0, 'Chauncey Billups': 4.0, "Shaquille O'Neal": 3.0, 'Dwyane Wade': 3.0, "Amar'e Stoudemire": 2.0, 'Carmelo Anthony': 1.0, 'Baron Davis': 1.0, 'Tony Parker': 1.0}, {'Kobe Bryant': 1100.0, 'Chris Paul': 894.0, 'Kevin Garnett': 670.0, 'LeBron James': 438.0, 'Dwight Howard': 60.0, "Amar'e Stoudemire": 27.0, 'Tim Duncan': 25.0, 'Tracy McGrady': 19.0, 'Steve Nash': 18.0, 'Manu Ginóbili': 9.0, 'Dirk Nowitzki': 5.0, 'Deron Williams': 4.0, 'Carmelo Anthony': 3.0, 'Carlos Boozer': 1.0, 'Antawn Jamison': 1.0, 'Paul Pierce': 1.0, 'Rasheed Wallace': 1.0}, {'LeBron James': 1172.0, 'Kobe Bryant': 698.0, 'Dwyane Wade': 680.0, 'Dwight Howard': 328.0, 'Chris Paul': 192.0, 'Chauncey Billups': 33.0, 'Paul Pierce': 21.0, 'Tony Parker': 9.0, 'Brandon Roy': 7.0, 'Dirk Nowitzki': 3.0, 'Tim Duncan': 2.0, 'Yao Ming': 1.0}, {'LeBron James': 1205.0, 'Kevin Durant': 609.0, 'Kobe Bryant': 599.0, 'Dwight Howard': 478.0, 'Dwyane Wade': 119.0, 'Carmelo Anthony': 65.0, 'Dirk Nowitzki': 55.0, 'Steve Nash': 49.0, 'Deron Williams': 7.0, "Amar'e Stoudemire": 5.0, 'Manu Ginóbili': 3.0, 'Chauncey Billups': 1.0, 'Chris Bosh': 1.0, 'Stephen Jackson': 1.0, 'Joe Johnson': 1.0}, {'Derrick Rose': 1182.0, 'Dwight Howard': 643.0, 'LeBron James': 522.0, 'Kobe Bryant': 428.0, 'Kevin Durant': 190.0, 'Dirk Nowitzki': 113.0, 'Dwyane Wade': 24.0, 'Manu Ginóbili': 20.0, "Amar'e Stoudemire": 9.0, 'Blake Griffin': 5.0, 'Rajon Rondo': 5.0, 'Tony Parker': 3.0, 'Chris Paul': 2.0}, {'LeBron James': 1074.0, 'Kevin Durant': 889.0, 'Chris Paul': 385.0, 'Kobe Bryant': 352.0, 'Tony Parker': 331.0, 'Kevin Love': 58.0, 'Dwight Howard': 13.0, 'Rajon Rondo': 12.0, 'Steve Nash': 7.0, 'Dwyane Wade': 6.0, 'Derrick Rose': 5.0, 'Dirk Nowitzki': 4.0, 'Russell Westbrook': 4.0, 'Tim Duncan': 3.0, 'Joe Johnson': 1.0}, {'LeBron James': 1207.0, 'Kevin Durant': 765.0, 'Carmelo Anthony': 475.0, 'Chris Paul': 289.0, 'Kobe Bryant': 184.0, 'Tony Parker': 86.0, 'Tim Duncan': 65.0, 'James Harden': 33.0, 'Russell Westbrook': 9.0, 'Dwyane Wade': 5.0, 'Stephen Curry': 3.0, 'Kevin Garnett': 1.0, 'Marc Gasol': 1.0, 'Ty Lawson': 1.0, 'David Lee': 1.0, 'Joakim Noah': 1.0}, {'Kevin Durant': 1232.0, 'LeBron James': 891.0, 'Blake Griffin': 434.0, 'Joakim Noah': 322.0, 'James Harden': 85.0, 'Stephen Curry': 66.0, 'Chris Paul': 45.0, 'Al Jefferson': 34.0, 'Paul George': 33.0, 'LaMarcus Aldridge': 26.0, 'Kevin Love': 25.0, 'Tim Duncan': 21.0, 'Tony Parker': 21.0, 'Dirk Nowitzki': 7.0, 'Carmelo Anthony': 4.0, 'Goran Dragić': 3.0, 'Mike Conley': 1.0}, {'Stephen Curry': 1198.0, 'James Harden': 936.0, 'LeBron James': 552.0, 'Russell Westbrook': 352.0, 'Anthony Davis': 203.0, 'Chris Paul': 124.0, 'LaMarcus Aldridge': 6.0, 'Marc Gasol': 3.0, 'Blake Griffin': 3.0, 'Tim Duncan': 1.0, 'Kawhi Leonard': 1.0, 'Klay Thompson': 1.0}, {'Stephen Curry': 1310.0, 'Kawhi Leonard': 634.0, 'LeBron James': 631.0, 'Russell Westbrook': 486.0, 'Kevin Durant': 147.0, 'Chris Paul': 107.0, 'Draymond Green': 50.0, 'Damian Lillard': 26.0, 'James Harden': 9.0, 'Kyle Lowry': 6.0}, {'Russell Westbrook': 888.0, 'James Harden': 753.0, 'Kawhi Leonard': 500.0, 'LeBron James': 333.0, 'Isaiah Thomas': 81.0, 'Stephen Curry': 52.0, 'Giannis Antetokounmpo': 7.0, 'John Wall': 7.0, 'Anthony Davis': 2.0, 'Kevin Durant': 2.0, 'DeMar DeRozan': 1.0}, {'James Harden': 965.0, 'LeBron James': 738.0, 'Anthony Davis': 445.0, 'Damian Lillard': 207.0, 'Russell Westbrook': 76.0, 'Giannis Antetokounmpo': 75.0, 'Kevin Durant': 66.0, 'DeMar DeRozan': 32.0, 'LaMarcus Aldridge': 6.0, 'Jimmy Butler': 5.0, 'Stephen Curry': 5.0, 'Joel Embiid': 4.0, 'Victor Oladipo': 2.0}, {'Giannis Antetokounmpo': 941.0, 'James Harden': 776.0, 'Paul George': 356.0, 'Nikola Jokić': 212.0, 'Stephen Curry': 175.0, 'Damian Lillard': 69.0, 'Joel Embiid': 49.0, 'Kevin Durant': 25.0, 'Kawhi Leonard': 13.0, 'Russell Westbrook': 8.0, 'Rudy Gobert': 1.0, 'LeBron James': 1.0}, {'Giannis Antetokounmpo': 962.0, 'LeBron James': 753.0, 'James Harden': 367.0, 'Luka Dončić': 200.0, 'Kawhi Leonard': 168.0, 'Anthony Davis': 82.0, 'Chris Paul': 26.0, 'Damian Lillard': 23.0, 'Nikola Jokić': 18.0, 'Pascal Siakam': 17.0, 'Jimmy Butler': 9.0, 'Jayson Tatum': 1.0}, {'Nikola Jokić': 971.0, 'Joel Embiid': 586.0, 'Stephen Curry': 453.0, 'Giannis Antetokounmpo': 348.0, 'Chris Paul': 139.0, 'Luka Dončić': 42.0, 'Damian Lillard': 38.0, 'Julius Randle': 20.0, 'Derrick Rose': 10.0, 'Rudy Gobert': 8.0, 'Russell Westbrook': 5.0, 'Ben Simmons': 3.0, 'James Harden': 1.0, 'LeBron James': 1.0, 'Kawhi Leonard': 1.0}, {'Nikola Jokić': 875.0, 'Joel Embiid': 706.0, 'Giannis Antetokounmpo': 595.0, 'Devin Booker': 216.0, 'Luka Dončić': 146.0, 'Jayson Tatum': 43.0, 'Ja Morant': 10.0, 'Stephen Curry': 4.0, 'Chris Paul': 2.0, 'DeMar DeRozan': 1.0, 'Kevin Durant': 1.0, 'LeBron James': 1.0}, {'Joel Embiid': 915.0, 'Nikola Jokić': 674.0, 'Giannis Antetokounmpo': 606.0, 'Jayson Tatum': 280.0, 'Shai Gilgeous-Alexander': 46.0, 'Donovan Mitchell': 30.0, 'Domantas Sabonis': 27.0, 'Luka Dončić': 10.0, 'Stephen Curry': 5.0, 'Jimmy Butler': 3.0, "De'Aaron Fox": 2.0, 'Jalen Brunson': 1.0, 'Ja Morant': 1.0}]

In [291]:
cur_year=0.0
mvp=""
cons=0.0
for i,v in enumerate(p_id.values):

    if v[3]!=cur_year:
        cur_year=v[3]
        cur_year_data=mvp_voting_data[int(cur_year)-1997]
        max_val=max(cur_year_data.values())
    if v[1] in cur_year_data.keys():
        p_id.at[i,"mvp_votes"]=cur_year_data[v[1]]
       
        if p_id.at[i,"mvp_votes"]==max_val:
            if p_id.at[i,"Player"]== mvp:
                print(p_id.at[i,"Player"])
                cons+=1
            else:
                cons=0
            mvp=p_id.at[i,"Player"]
            p_id.at[i,"cons_mvp"]=cons




p_id.to_csv("p_id.csv")

LeBron James
LeBron James
Stephen Curry
Giannis Antetokounmpo
Nikola Jokić

In [292]:
p_id

          Rk               Player Age season team  seed  cons_mvp  mvp_votes
0          1   Mahmoud Abdul-Rauf  27   1997  SAC   9.0       0.0        0.0
1          2  Shareef Abdur-Rahim  20   1997  VAN  14.0       0.0        0.0
2          3       Rafael Addison  32   1997  CHH   6.0       0.0        0.0
3          4       Cory Alexander  23   1997  SAS  13.0       0.0        0.0
4          5         Jerome Allen  24   1997  IND  10.0       0.0        0.0
...      ...                  ...  ..    ...  ...   ...       ...        ...
12841  12842       Thaddeus Young  34   2023  TOR   9.0       0.0        0.0
12842  12843           Trae Young  24   2023  ATL   8.0       0.0        0.0
12843  12844       Omer Yurtseven  24   2023  MIA   7.0       0.0        0.0
12844  12845          Cody Zeller  30   2023  MIA   7.0       0.0        0.0
12845  12846          Ivica Zubac  25   2023  LAC   5.0       0.0        0.0

[12846 rows x 8 columns]

In [293]:
combined=pd.DataFrame(np.concatenate((p_id.drop(["Player","season","team"],axis=1).values,numerical_data),axis=1),columns=np.append(p_id.drop(["Player","season","team"],axis=1).columns,numerical_data.columns))

for i in combined:
    if i!="Rk" :
        for k,n in enumerate(combined[i]):
                if n=="":
                        combined.at[k,i]=0.0
                
for i in combined:
        if i!="Rk":
                combined[i]=np.array(combined[i], dtype=float)
                combined[i]=np.array((combined[i]-min(combined[i]))/(max(combined[i])-min(combined[i])))
                

y=combined.mvp_votes
x=combined.drop(["mvp_votes"],axis=1)

In [ ]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
for i,v in enumerate(y_pred):
    if v>0.1:
        print(y_pred)

Mean Squared Error: 0.0012463213214104082
[-0.00228697 -0.00216861  0.00665421 ...  0.0010478   0.00128555
  0.00100224]
[-0.00228697 -0.00216861  0.00665421 ...  0.0010478   0.00128555
  0.00100224]
[-0.00228697 -0.00216861  0.00665421 ...  0.0010478   0.00128555
  0.00100224]
[-0.00228697 -0.00216861  0.00665421 ...  0.0010478   0.00128555
  0.00100224]

In [310]:



from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(x.drop("cons_mvp",axis=1), y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
lr_model = LinearRegression()
lr_model.fit(x_train, y_train)

# Get coefficients
coefficients = lr_model.coef_

# Create a DataFrame to store feature names and coefficients
coef_df = pd.DataFrame({'Feature': x.drop("cons_mvp",axis=1).columns, 'Coefficient': coefficients})

# Sort features by the absolute value of their coefficients
coef_df['AbsoluteCoefficient'] = abs(coef_df['Coefficient'])
coef_df = coef_df.sort_values(by='Coefficient', ascending=False)

# Print feature importance ranking
print("Feature Importance Ranking:")
print(coef_df)
y_pred = lr_model.predict(x_test)
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Feature Importance Ranking:
   Feature   Coefficient  AbsoluteCoefficient
46     BPM  2.085184e+00         2.085184e+00
47    VORP  2.505473e-01         2.505473e-01
20     DRB  1.596843e-01         1.596843e-01
10     3PA  1.311267e-01         1.311267e-01
15    eFG%  1.057712e-01         1.057712e-01
34    TRB%  1.007788e-01         1.007788e-01
25     TOV  8.556549e-02         8.556549e-02
27     PTS  7.198542e-02         7.198542e-02
28     PER  6.345316e-02         6.345316e-02
17     FTA  4.755750e-02         4.755750e-02
19     ORB  3.851325e-02         3.851325e-02
13     2PA  2.428991e-02         2.428991e-02
26      PF  2.288243e-02         2.288243e-02
42      WS  1.548131e-02         1.548131e-02
35    AST%  1.134443e-02         1.134443e-02
3        G  1.087555e-02         1.087555e-02
18     FT%  8.656340e-03         8.656340e-03
12      2P  3.018013e-03         3.018013e-03
0       Rk  4.541301e-07         4.541301e-07
6       FG -6.153507e-04         6.153507e-04
2     seed -9.835843e-04         9.835843e-04
4       GS -2.826640e-03         2.826640e-03
11     3P% -4.085640e-03         4.085640e-03
1      Age -4.515694e-03         4.515694e-03
23     STL -6.210951e-03         6.210951e-03
14     2P% -1.177988e-02         1.177988e-02
8      FG% -1.841970e-02         1.841970e-02
37    BLK% -1.957466e-02         1.957466e-02
30    3PAr -2.083308e-02         2.083308e-02
39    USG% -2.168916e-02         2.168916e-02
16      FT -2.382479e-02         2.382479e-02
24     BLK -2.702304e-02         2.702304e-02
40     OWS -3.209564e-02         3.209564e-02
22     AST -3.541560e-02         3.541560e-02
32    ORB% -3.906013e-02         3.906013e-02
38    TOV% -3.957347e-02         3.957347e-02
31     FTr -4.541694e-02         4.541694e-02
36    STL% -4.974521e-02         4.974521e-02
43   WS/48 -5.446362e-02         5.446362e-02
41     DWS -6.532536e-02         6.532536e-02
5       MP -6.755514e-02         6.755514e-02
9       3P -7.977983e-02         7.977983e-02
29     TS% -9.977185e-02         9.977185e-02
33    DRB% -1.059627e-01         1.059627e-01
7      FGA -1.380968e-01         1.380968e-01
21     TRB -1.529538e-01         1.529538e-01
45    DBPM -4.228047e-01         4.228047e-01
44    OBPM -1.799884e+00         1.799884e+00
Mean Squared Error: 0.0008943778330667892

In [313]:
def last(arr):
    return arr[-1]

bangers=[]
for i,v in enumerate(y_pred):
    if v>0.05 and x.values[i,4]>0.8 :
        bangers.append([p_id.values[x.values[i,0]-1][1],p_id.values[x.values[i,0]-1][3],v])
print(len(bangers))
print(bangers)
pd.DataFrame(sorted(bangers,key=last,reverse=True)).to_csv("bangers.csv")

23
[['Calbert Cheaney', '1997', 0.0661633983370331], ['Hersey Hawkins', '1997', 0.05669847990867867], ['Juwan Howard', '1997', 0.05310003691683168], ['John Starks', '1997', 0.11839925589745315], ['Shandon Anderson', '1998', 0.05491703250182475], ['Pete Chilcutt', '1998', 0.11336286224545064], ['Travis Knight', '1998', 0.09236418571122228], ['Billy Owens', '1998', 0.07216362998433441], ['Jason Caffey', '2000', 0.06824675339600197], ['Chris Childs', '2000', 0.07457964101805159], ['Vonteego Cummings', '2000', 0.08033721017397256], ['Howard Eisley', '2000', 0.14453196937194057], ['Karl Malone*', '2000', 0.08123874587316167], ['Jalen Rose', '2000', 0.056146174849766584], ['Antonio Daniels', '2001', 0.11765802036676105], ['Brian Grant', '2001', 0.05826710309367519], ['DerMarr Johnson', '2001', 0.06562044093749336], ['Dirk Nowitzki*', '2001', 0.05835240019131743], ['Lamar Odom', '2001', 0.06974980706288518], ['Ruben Patterson', '2001', 0.10535023171150504], ['Darius Miles', '2002', 0.06889583081809195], ['Wesley Person', '2002', 0.07853685719285158], ['Joel Przybilla', '2002', 0.09996326758438168]]

In [314]:
pd.DataFrame(sorted(bangers,key=last,reverse=True)).to_csv("bangers.csv")

In [315]:
x.cons_mvp=np.zeros_like(x.cons_mvp)

In [327]:
y_pred=lr_model.predict(x_test)
bangers=[]
for i,v in enumerate(y_pred):
    if v>0.1 and x_test.values[i,4]*x_test.values[i,6]>0.4 :
        bangers.append([p_id.values[x_test.values[i,0]-1][1],p_id.values[x_test.values[i,0]-1][3],v])
print(len(bangers))
print(x)
pd.DataFrame(sorted(bangers,key=last,reverse=True)).to_csv("bangers_2014.csv")

8
          Rk       Age      seed  cons_mvp         G        GS        MP  \
0          1  0.346154  0.571429       0.0  0.880952  0.614458  0.649886
1          2  0.076923  0.928571       0.0  0.940476  0.855422  0.800915
2          3  0.538462  0.357143       0.0  0.476190  0.036145  0.199085
3          4  0.192308  0.857143       0.0  0.940476  0.072289  0.416476
4          5  0.230769  0.642857       0.0  0.892857  0.012048  0.283753
...      ...       ...       ...       ...       ...       ...       ...
12841  12842  0.615385  0.571429       0.0  0.630952  0.108434  0.336384
12842  12843  0.230769  0.500000       0.0  0.857143  0.879518  0.796339
12843  12844  0.230769  0.428571       0.0  0.095238  0.000000  0.210526
12844  12845  0.461538  0.428571       0.0  0.166667  0.024096  0.331808
12845  12846  0.269231  0.285714       0.0  0.892857  0.915663  0.654462

             FG       FGA    FG%  ...   TOV%      USG%       OWS       DWS  \
0      0.450820  0.442446  0.445  ...  0.108  0.262741  0.292818  0.168317
1      0.565574  0.546763  0.453  ...  0.135  0.312571  0.276243  0.217822
2      0.098361  0.107914  0.402  ...  0.112  0.227633  0.193370  0.108911
3      0.196721  0.219424  0.396  ...  0.211  0.251416  0.209945  0.158416
4      0.081967  0.104317  0.353  ...  0.214  0.176670  0.165746  0.178218
...         ...       ...    ...  ...    ...       ...       ...       ...
12841  0.163934  0.133094  0.545  ...  0.167  0.152888  0.220994  0.207921
12842  0.672131  0.683453  0.429  ...  0.152  0.369196  0.475138  0.237624
12843  0.147541  0.107914  0.593  ...  0.119  0.203851  0.193370  0.108911
12844  0.204918  0.140288  0.627  ...  0.158  0.204983  0.204420  0.128713
12845  0.352459  0.244604  0.634  ...  0.159  0.167610  0.392265  0.386139

             WS     WS/48      OBPM      DBPM       BPM      VORP
0      0.214286  0.493022  0.253820  0.319172  0.267724  0.152778
1      0.223214  0.490920  0.257920  0.315904  0.270117  0.194444
2      0.111607  0.490728  0.247111  0.320261  0.262339  0.166667
3      0.142857  0.488243  0.257920  0.330065  0.273706  0.215278
4      0.111607  0.485567  0.247484  0.336601  0.267724  0.173611
...         ...       ...       ...       ...       ...       ...
12841  0.174107  0.502390  0.250093  0.359477  0.275800  0.208333
12842  0.392857  0.505639  0.276556  0.316993  0.285372  0.416667
12843  0.107143  0.511948  0.247484  0.322440  0.263835  0.180556
12844  0.125000  0.509654  0.249348  0.331155  0.267125  0.180556
12845  0.392857  0.510036  0.252702  0.340959  0.272809  0.222222

[12846 rows x 49 columns]